body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#stars-container {
    font-size: 24px;
    white-space: pre;
}
